body {
    background: hsl(230, 30%, 75%);
}

.coin-card {
    transition: all 300ms;
}

.coin-card:hover {
    translate: 0px -3px;
    box-shadow: 1px 5px 16px -5px rgba(0, 0, 0, 0.5);
}

.watched-coin {
    position: relative;
    background: rgba(254, 254, 1, 0.755);
}

.watched-coin::before {
    position: absolute;
    content: "watched";
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.5rem;
    background-color: grey;
    border-radius: 30px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.my-modal {
    z-index: 2;

}
